th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
.total,.title{
    font-weight: bold;
}


tr:nth-child(even) {
  background-color: #F2F2F2;
}

tr:nth-child(odd) {
  background-color: #FFF;
}