<h1 id="tableLabel">Bitcoin Miner S19J Progress</h1>
<p>Note: Today is not part of total until uptime has posted</p>

<div class="info-container">
  <div class="info-item">
    <span class="info-label">Bitcoin Price:</span>
    <span class="info-value">${{ currentBitcoinPrice | number:'1.2-2' }}</span>
  </div>
  <div class="info-item">
    <span class="info-label">Price per kWh:</span>
    <span class="info-value">${{ pricePerKilowattHour | number:'1.2-2' }}</span>
  </div>
</div>

<h2>Overall Totals</h2>
<table>
  <thead>
    <tr>
      <th>Total Uptime (Percent)</th>
      <th>Total Time (Hours)</th>
      <th>Total Kilowatt Hours</th>
      <th>Total Revenue (BTC)</th>
      <th>Total Revenue (USD)</th>
      <th>Total Cost</th>
      <th>Total Profit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ overallTotals.totalUptimePercent | number:'1.2-2' }}%</td>
      <td>{{ overallTotals.totalTimeInHours | number:'1.2-2' }}</td>
      <td>{{ overallTotals.totalKilowattHours | number:'1.2-2' }}</td>
      <td>{{ overallTotals.totalRevenueBtc | number:'1.8-8' }}</td>
      <td>{{ overallTotals.totalRevenueUsd | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>{{ overallTotals.totalCost | currency:'USD':'symbol':'1.2-2' }}</td>
      <td [ngClass]="{ 'positive': overallTotals.totalProfit > 0, 'negative': overallTotals.totalProfit < 0 }">
        {{ overallTotals.totalProfit | currency:'USD':'symbol':'1.2-2' }}
      </td>
    </tr>
  </tbody>
</table>

<mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="activeTabIndex">
  <div *ngIf="miningRevenuesByMonth">
    <mat-tab label="Overall">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Uptime (Percent)</th>
            <th>Uptime (Hours)</th>
            <th>Hashrate (TH/s)</th>
            <th>Total Kilowatt Hours</th>
            <th>Total Revenue (BTC)</th>
            <th>Total Revenue (USD)</th>
            <th>Total Cost</th>
            <th>Total Profit</th>
          </tr>
        </thead>
        <tbody>
          <ng-container  *ngFor="let monthData of miningRevenuesByMonth">
            <tr *ngFor="let miningRevenue of monthData.miningRevenues">
              <td>{{ removeTime(miningRevenue.date) }}</td>
              <td>{{ miningRevenue.uptimePercent }}%</td>
              <td>{{ miningRevenue.timeInHours | number:'1.2-2' }}</td>
              <td>{{ miningRevenue.hashrate | number:'1.2-2' }}</td>
              <td>{{ miningRevenue.totalKilowattHours | number:'1.2-2' }}</td>
              <td>{{ miningRevenue.totalRevenueBTC | number:'1.8-8' }}</td>
              <td>{{ miningRevenue.totalRevenueUSD | currency:'USD':'symbol':'1.2-2' }}</td>
              <td>{{ miningRevenue.totalCost | currency:'USD':'symbol':'1.2-2' }}</td>
              <td [ngClass]="{ 'positive': miningRevenue.totalProfit >= 0, 'negative': miningRevenue.totalProfit < 0 }"> {{ miningRevenue.totalProfit | currency:'USD':'symbol':'1.2-2' }} </td>
            </tr>
            </ng-container>
        </tbody>   
        </table>
    </mat-tab>

    <ng-container *ngFor="let monthData of miningRevenuesByMonth">
      <mat-tab [label]="getMonthYearString(monthData.month)">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Uptime (Percent)</th>
              <th>Uptime (Hours)</th>
              <th>Hashrate (TH/s)</th>
              <th>Total Kilowatt Hours</th>
              <th>Total Revenue (BTC)</th>
              <th>Total Revenue (USD)</th>
              <th>Total Cost</th>
              <th>Total Profit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="monthData.estimatedData">
              <td>{{ removeTime(monthData.estimatedData.date) }}</td>
              <td>{{ monthData.estimatedData.uptimePercent }}%</td>
              <td>{{ monthData.estimatedData.timeInHours | number:'1.2-2' }}</td>
              <td>{{ monthData.estimatedData.hashrate | number:'1.2-2' }}</td>
              <td>{{ monthData.estimatedData.totalKilowattHours | number:'1.2-2' }}</td>
              <td>{{ monthData.estimatedData.totalRevenueBTC | number:'1.8-8' }}</td>
              <td>{{ monthData.estimatedData.totalRevenueUSD | currency:'USD':'symbol':'1.2-2' }}</td>
              <td>{{ monthData.estimatedData.totalCost | currency:'USD':'symbol':'1.2-2' }}</td>
              <td [ngClass]="{ 'positive': monthData.estimatedData.totalProfit >= 0, 'negative': monthData.estimatedData.totalProfit < 0 }">
                {{ monthData.estimatedData.totalProfit | currency:'USD':'symbol':'1.2-2' }}
              </td>
            </tr>
            <tr *ngFor="let miningRevenue of monthData.miningRevenues">
              <td>{{ removeTime(miningRevenue.date) }}</td>
              <td>{{ miningRevenue.uptimePercent }}%</td>
              <td>{{ miningRevenue.timeInHours | number:'1.2-2' }}</td>
              <td>{{ miningRevenue.hashrate | number:'1.2-2' }}</td>
              <td>{{ miningRevenue.totalKilowattHours | number:'1.2-2' }}</td>
              <td>{{ miningRevenue.totalRevenueBTC | number:'1.8-8' }}</td>
              <td>{{ miningRevenue.totalRevenueUSD | currency:'USD':'symbol':'1.2-2' }}</td>
              <td>{{ miningRevenue.totalCost | currency:'USD':'symbol':'1.2-2' }}</td>
              <td [ngClass]="{ 'positive': miningRevenue.totalProfit >= 0, 'negative': miningRevenue.totalProfit < 0 }">
                {{ miningRevenue.totalProfit | currency:'USD':'symbol':'1.2-2' }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr style="font-weight:bold">
              <td>Total</td>
              <td>{{ monthData.total.totalUptimePercent | number:'1.2-2' }}%</td>
              <td>{{ monthData.total.totalTimeInHours | number:'1.2-2' }}</td>
              <td></td>
              <td>{{ monthData.total.totalKilowattHours | number:'1.2-2' }}</td>
              <td>{{ monthData.total.totalRevenueBtc | number:'1.8-8' }}</td>
              <td>{{ monthData.total.totalRevenueUsd | currency:'USD':'symbol':'1.2-2' }}</td>
              <td>{{ monthData.total.totalCost | currency:'USD':'symbol':'1.2-2' }}</td>
              <td [ngClass]="{ 'positive': monthData.total.totalProfit > 0, 'negative': monthData.total.totalProfit < 0 }">
                {{ monthData.total.totalProfit | currency:'USD':'symbol':'1.2-2' }}
              </td>
            </tr>
          </tfoot>
        </table>
      </mat-tab>
    </ng-container>
  </div>
</mat-tab-group>
