<h1 id="tableLabel">Bitcoin Miner S19J Progress</h1>
<!--<p>Note: Today is not part of total until uptime has posted</p>-->
<table>
  <tbody>
    <tr style="background-color: initial;font-weight: bold">
      <td>Bitcoin Price:</td>
      <td>${{currentBitcoinPrice | number:'1.2-2'}}</td>
    </tr>
    <tr style="background-color: initial; font-weight: bold">
      <td>Price per kWh:</td>
      <td>${{ pricePerKilowattHour | number:'1.2-2'}}</td>
    </tr>
  </tbody>
</table>

<table *ngIf="miningRevenues">
  <thead>
    <tr>
      <th>Date</th>
      <th>Uptime (Percent)</th>
      <th>Uptime (Hours)</th>
      <th>Hashrate (TH/s)</th>
      <th>Total Kilowatt Hours</th>
      <th>Total Revenue (BTC)</th>
      <th>Total Revenue (USD)</th>
      <th>Total Cost</th>
      <th>Total Profit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let miningRevenue of miningRevenues">
      <td>{{ removeTime(miningRevenue.date) }}</td>
      <td>{{ miningRevenue.uptimePercent }}%</td>
      <td>{{ miningRevenue.timeInHours | number:'1.2-2'}}</td>
      <td>{{ miningRevenue.hashrate  | number:'1.2-2'}}</td>
      <td>{{ miningRevenue.totalKilowattHours | number:'1.2-2'}}</td>
      <td>{{ miningRevenue.totalRevenueBTC | number:'1.8-8'}}</td>
      <td>{{ miningRevenue.totalRevenueUSD | currency:'USD':'symbol':'1.2-2'}}</td>
      <td>{{ miningRevenue.totalCost | currency:'USD':'symbol':'1.2-2'}}</td>
      <td [ngClass]="{ 'positive': miningRevenue.totalProfit >= 0, 'negative': miningRevenue.totalProfit < 0 }">{{ miningRevenue.totalProfit | currency:'USD':'symbol':'1.2-2'}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr style="font-weight:bold">
      <td>Total</td>
      <td>{{ totalUptimePercent | number:'1.2-2'}}%</td>
      <td>{{ totalTimeInHours | number:'1.2-2'}}</td>
      <td></td>
      <td>{{ totalKilowattHours | number:'1.2-2'}}</td>
      <td>{{ totalRevenueBtc | number:'1.8-8' }}</td>
      <td>{{ totalRevenueUsd | currency:'USD':'symbol':'1.2-2'}}</td>
      <td>{{ totalCost | currency:'USD':'symbol':'1.2-2'}}</td>
      <td [ngClass]="{ 'positive': totalProfit > 0, 'negative': totalProfit < 0 }">{{ totalProfit | currency:'USD':'symbol':'1.2-2'}}</td>
    </tr>
  </tfoot>
</table>
